@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-image {
  position: relative;
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
  padding: 40px 0px;
}

.social-media-icons-main {
  display: flex;
  align-items: flex-start;
}

.navbar-custom {
  background-color: transparent;
}

.navbarActive {
  background-color: #000;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='white' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

.register-button {
  background-color: #099217;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

.delete-button {
  background-color: rgb(219, 17, 44);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.nav-link {
  color: #ffffff !important;
  text-decoration: none;
  font-size: 16px !important;
  font-weight: 500;
  font-family: "Inter";
  margin-right: 10px !important;
  margin-bottom: 5px;
}

.navbar-toggle-white {
  background-color: #000;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu .dropdown-item {
  margin-bottom: 10px;
}

.dropdown-mega .dropdown-menu {
  width: 100% !important;
  background-color: #000;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
}

/* .custom-dropdown-bg {
  background-color: #f8f9fa !important;
} */

.contact-us-btn {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 14px;
}

.dropdown-mega h5 {
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin: 0;
}

video {
  width: 100%;
  height: 99vh;
  object-fit: cover;
}

.hero-section {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.hero-title-section {
  position: relative;
}

.hero-description {
  color: #fff;
  text-transform: capitalize;
}

.social-media-icons-section {
  position: relative;
}

.down-arrow-icon-main {
  position: relative;
}

.hero-section-heading {
  text-align: center;
  font-size: 70px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Inter" !important;
}
.solutions-heading,
.insights-heading,
.clients-heading {
  text-align: left;
  font-size: 70px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Inter" !important;
}
.solutions-heading {
  text-align: left;
  font-size: 70px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Inter" !important;
}

.bg-color-blind {
  /* background-color: red !important; */
  background: rgba(1, 3, 10, 0.7);
  z-index: 1000;
  width: 100%;
  height: auto;
  padding: 5px;
  position: absolute;
  background-blend-mode: darken;
  margin-top: -10px;
}

@media (max-width: 1200px) {
  .hero-section-heading {
    font-size: 50px;
    /* padding-top: 60px; */
  }
  .hero-description {
    font-size: 16px;
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .hero-section-heading {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .hero-section-heading {
    font-size: 30px;
  }
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brewcode-link {
  color: #74a8ff;
  text-decoration: none;
  margin-left: 10px;
}

.solutions-item-header {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.hero-heading-highlight {
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  font-family: "Lato";
  font-weight: 900;
}

.dropdown-heading {
  color: #ccc;
  font-family: Roboto;
  font-weight: 500;
}

.list-group-item {
  font-size: 16px;
  font-family: "Inter";
  font-weight: bold;
  width: 400px;
  width: 100%;
  cursor: pointer;
  color: #ffffff;
}

.case-studies-left-dropdown-list {
  position: relative;
}

.robotic-process-list {
  position: absolute;
  top: 60;
}

.our-work-dropdown {
  background-color: #000 !important;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
}

/* .case-studies-left-dropdown-list span {
  position: absolute;
  top: 60;
} */

.full-stack-list {
  position: absolute;
  top: 105;
}
@media screen and (max-width: 768px) {
  .list-group-item {
    font-size: 12px;
    font-family: "Inter";
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  .list-group-item {
    font-size: 16px;
    font-family: "Inter";
    font-weight: bold;
    width: 400px;
  }
}

.hero-description {
  color: #ddd;
  font-family: "Inter";
  font-style: inherit;
  font-size: 18px;
  font-weight: 500;
}

.hero-title-section {
  margin-top: 100px !important;
}

.highlight {
  color: #ffffff;
  font-size: 22px;
}

.social-icon,
.instagram,
.linkedin,
.facebook {
  width: 30px;
  height: 30px;
  cursor: pointer !important;
  border: 1.4px solid #ffffff;
  border-radius: 15px;
}

.facebook {
  cursor: pointer !important;
}

.dropdown-mega .dropdown-menu {
  position: fixed;
  top: 60px;
  width: 100%;
  max-height: 80vh;
  /* background-color: #000; */
  color: #fff;
  z-index: 999;
}

@media screen and (max-width: 600px) {
  .dropdown-mega {
    height: 100%;
    overflow-y: auto;
  }
}

@media (max-width: 768px) {
  .dropdown-mega .dropdown-menu {
    top: 50px;
  }
}

.bi-arrow-down-short {
  font-size: 36px;
  color: #ffffff;
  background-color: #333;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}

.about-section {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url("/images/who-we-are-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding: 30px 0px;
}

.about-heading {
  color: #ffffff;
  font-family: "Inter";
  font-weight: 700;
  font-size: 70px;
  text-align: left;
}
.solutions-description {
  font-family: "Inter";
  font-size: 12px;
  color: #ffffff;
}

.section-heading,
.innovation-heading {
  color: #ffffff;
  font-family: "Inter";
  font-weight: 700;
  font-size: 70px;
}

.industries-heading {
  color: #ffffff;
  font-family: "Inter";
  font-weight: 700;
  font-size: 70px;
}

.about-description {
  color: #ddd;
  font-size: 24px !important;
  font-family: "Inter";
  text-align: left;
  font-weight: 700;
}
.about-link {
  text-decoration: none !important;
  color: #74a8ff !important;
}
.about-explore-btn {
  width: 120px;
  height: 40px;
  background-color: #000;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-family: "Inter";
  border: 1px solid #ffffff;
}

.down-arrow-icon-main {
  position: relative;
  top: -20px;
}

.who-about-details {
  color: #ffffff;
  font-family: "Inter";
  font-size: 12px;
  line-height: 20px;
}

.about-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
}
/* our solution styles------------- */

.solutions-section {
  width: 100%;
  background-image: url("/images/svg/our-solution-bg.svg");
  height: 100%;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  padding: 30px 0px;
}

.our-solution-description,
.industries-description,
.innovation-description {
  color: #ffffff;
  font-family: "Inter";
  font-size: 12px;
}

.bi-arrow-up-right {
  color: #ffffff;
  font-size: 25px;
}

.solutions-title {
  font-size: 18px;
  color: #ffffff;
  margin-top: 13px;
  font-family: "Inter";
  font-weight: 400;
}
.solutions-item-section {
  display: flex;
  justify-content: space-between;
  width: 46% !important;
}
.solutions-item {
  width: 100%;
}

.our-solution-hr {
  background-color: #ffffff;
}

.our-section-width {
  width: 90%;
}

.border-bottom {
  border-bottom: 10px solid #ffff;
}

/* industries-we-serve styles------------------ */
.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.industries-section {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url("/images/svg/industries-we-serve.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 0px;
}

/* Custom styling for slick-slider */
.container-slider {
  width: 100%;
  /* overflow: hidden;
  position: relative; */
}

.slider {
  height: auto;
  /* padding: 20px 0px; */
}
.header {
  margin: 50px auto;
  text-align: center;
  font-size: 80px;
}

.slide,
.slide img {
  height: 300px;
  display: block;
}

.slide {
  /* opacity: .5; */
  transform: scale(0.7);
  transition: 0.5s;
  filter: blur(5px);
  padding: 10px;
}

.slide-active {
  filter: blur(0);
  opacity: 1;
  transform: scale(1.1);
}
.arrow {
  font-size: 30px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 5px 3px #ccc;
  display: flex;
  width: 50px;
  height: 50px;
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
  top: 180px;
  z-index: 100;
  color: #ffffff;
  cursor: pointer;
  background-color: #000;
}
.arrow-right {
  right: 20px;
}
.arrow-left {
  left: 20px;
}
.dot {
  margin-top: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 5px 3px #ccc;
  background-color: #000;
  margin: 0 5px;
}
.dot-active {
  background-color: #717171;
  box-shadow: 0 0 15px 10px #ccc;
}
@media screen and (max-width: 768px) {
  .header {
    font-size: 7vw;
  }
}

.image-slide {
  border-radius: 20px;
  border: 2px solid #fff;
}

/* -------------------------------------------------------------- */
/* Scale Innovatively styles ------start */
.bg-blind {
  background-color: #000;
  padding: 10px;
  z-index: 1000;
  margin-top: -10px;
}
.innovation-section {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right top, #000 80%, #8784843f 100%, #000 10%);
  overflow: hidden;
  background-position: center;
  padding: 40px 0px;
}

@media screen and (max-width: 600px) {
  .innovation-section {
    height: 100%;
  }
}
.innovation-sub-heading {
  color: #ffffff;
  font-size: 24px;
  font-family: "Inter";
  font-weight: 500;
}

.innovation-step-border-lined {
  color: #ffffff;
  border: 2px solid #ffff;
  border-top: none;
  border-bottom: none;
  padding-left: 20px !important;
}

.enterprise-line {
  padding-left: 20px !important;
}

.innovation-step-title {
  font-size: 22px;
  font-family: "Inter";
  color: #ffffff;
  font-weight: bold;
}

.innovation-step-number {
  width: 26px;
  height: 26px;
  background-color: #333;
  font-size: 10px !important;
  border-radius: 13px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  margin-right: 15px;
  font-weight: bold;
  border: 1.5px solid #ffffff;
}

.innovation-step-description {
  color: #ffffff;
  font-family: "Inter";
  font-size: 14px;
}
/* insights styles -------------start */
.insights-section {
  width: 100%;
  min-height: 100%;
  background-color: #000;
  background-image: url("/images/svg/insight-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  padding: 40px 0px;
}

.insights-description {
  color: #ffffff;
  font-family: "Lato";
  font-size: 20px;
  margin-top: 20px;
  word-spacing: 4px;
}

.insights-line{
  background-color:#fff;
  border-width: 0;
  height: 2px;
  color: #fff;
}

.insight-imag-container{
  width: 100%;
  height: auto;

}

.insigts-image{
  width: 100%;

}

.explore-our-insigts-image{
  width: 100%;
  height: 100vh;
  background-image: url("/images/the-great-reimagination.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
 
}

.date-text{
  font-size: 12px;
  font-family: "Inter";
}

.online-bookkeeping-software-heading{
  font-size: 28px;
  font-family: "Lato";
}

.fa-arrow-long{
  color: #04CAA8;
  /* margin-top: 20px; */
  cursor: pointer;
}

.health-text{
  font-size: 12px;
  font-family: "Lato";
  color: #04CAA8;
}

.by-alex-glen-text{
  font-size: 12px;
  font-family: "Lato";
}

.insight-top-image{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.insight-success-stories-card{
  background-color: #fff !important;
  color:#000;
  /* height:380px; */
  border-radius: 5px;
}

.insight-card-heading{
  font-family: "Inter";
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

.see-all-tech-industry-case-studies-link{
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  font-size: 14px;
}

.insight-card-text{
  margin: 40px 0px 10px 0px;
  font-size: 12px;
}
.explore-our-insigts-heading{
  font-family: "Lato";
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.read-more-button-arrow{
  border-radius: 50%;
  background-color: #ffffff;
  color: #000;
  border: none;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 180px;
  top: 93px;
}

.read-more-button{
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  color: #000;
  border: none;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
}

.insight-explore-card{
  background-color: #151515;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
padding:  30px 5px;
border: 1px solid #373737;
position: relative;
margin-bottom: 20px;
}

.insight-explore-card:hover{
  border: 1px solid #ffffff;
}

.insight-explore-card-heading{
  font-size: 18px;
  font-family: "Lato";
  margin-bottom: 30px;
  color: #373737;

}

.insight-explore-card-heading, p{
  font-size: 16px;
  font-family: "Inter";
 
}
.insight-card {
  background-color: #151515;
  height: 330px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.insight-card-link {
  text-decoration: none;
}

.insight-card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #ffffff;
  font-size: 12px;
}
.insight-card-category {
  color: #ffffff;
  font-family: "Inter";
  font-size: 12px;
}

.insight-card-title {
  color: #ffffff !important;
  font-family: "Inter";
  font-size: 14px;
  /* font-weight: bold; */
  margin-top: 30px;
  line-height: 18px;

}

/* our-clients styles -------------------start */
.clients-section {
  background-color: #000000;
  width: 100%;
  height: 100%;
  padding: 50px 0px 80px 0px;
}

@media screen and (max-width: 600px) {
  .clients-section {
    height: 100%;
  }
}

.clients-subtitle {
  color: #bdb8b8;
  font-weight: 500;
  font-size: 30px;
  font-family: "Inter";
}

.client-logo-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end !important;
  align-items: center;
}

.logo-wrapper {
  width: 34px;
  height: auto;
}

.logo-wrapper :global(img) {
  object-fit: cover;
}

.client-logo {
  width: 120px;
  height: 50px;
  aspect-ratio: 1/1 !important;
  cursor: pointer;
}
.fullpage-container {
  height: calc(100vh-50px);
}
.corpeq-logo {
  width: 120px;
  height: auto;
  aspect-ratio: 4/4;
}

.Olivebay-logo {
  width: 120px;
  height: auto;
  aspect-ratio: 4/4;
  background-color: #ffffff;
}

.enpersonal-logo,
.ojas-logo,
.humancloud-logo {
  width: 120px;
  height: auto;
  aspect-ratio: 4/4;
}

.sarci-logo,
.rh-logo {
  width: 100px;
  height: auto;
  aspect-ratio: 4/4;
}

/* styles ---- footer-bg */

footer {
  background-color: #000000;
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0px 10px 0px;
}
.footer-logo {
  width: 70px !important;
  height: 50px !important;
  aspect-ratio: 1/1;
}

.brew-code-text {
  text-decoration: none;
}

.brew-code-letter {
  font-size: 80px;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 600;
  text-align: center;
  margin: 0px 10px;
}

.footer-links-list {
  list-style: none;
  font-size: 14px;
}

.footer-link {
  text-decoration: none;
  color: #fff;
}

.footer-link-policy {
  color: #757575 !important;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer-icon {
    width: 50px;
    height: 50px;
  }
  .footer-link,
  .footer-link-policy {
    padding: 10px;
    font-size: 12px;
  }

  @media (max-width: 480px) {
    .company-logo-container {
      flex-basis: 50%;
      justify-content: center;
    }
  }
}

.footer-icon {
  width: 40px !important;
  height: auto !important;
  margin-bottom: 10px;
  cursor: pointer;
}

.flex-footer-icons {
  display: flex !important;
  justify-content: space-between;
  width: 280px;
  margin: 40px 0px 20px 0px;
}

@media (max-width: 768px) {
  .footer-link,
  .footer-link-policy {
    font-size: 14px;
    padding: 5px;
  }

  .footer-icon {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 576px) {
  .brew-code-letter {
    font-size: 20px;
  }
}

/* Base Styles for Swiper Slides */
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px !important;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(4px);
  margin: 0px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.swiper-slide-active {
  filter: blur(0);
  z-index: 1000;
  width: 400px !important;
  height: 305px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  background-image: none;
}

/* Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
  background-color: #000;
  color: #fff !important;
  border-radius: 50px;
  width: 50px !important;
  height: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  padding: 10px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 10px;
  font-weight: bold;
}

.image-container-at{
  width: 100%;
  height: auto;
}
.at-t-image{
  width: 100%;
  height: auto;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.swiper-slide-active:hover .overlay {
  opacity: 1;
}

.image-caption {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  margin: 0;
}

/* serviecs section styles start--------------------------------------------- */

.services-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
}

.services-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.services-background {
  position: relative;
  overflow: hidden;
}

/* .background-image-container {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.services-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.background-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.services-header {
  text-align: center;
  line-height: 60px;
  margin-bottom: 30px;
  font-family: "Inter";
  font-weight: 600;
}

.services-description {
  font-size: 14px;
  font-family: "Inter";
}

.services-menu {
  background-color: #151515;
  width: 100%;
  list-style: none;
  display: flex;
  padding: 10px 76px;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: -20px;
  cursor: pointer;
  font-family: "Inter";
  font-weight: 500;
}

.overview-main {
  padding: 60px 0px;
  background-color: #000;
  color: #ffffff;
}

.overview-image {
  width: 100%;
  border-radius: 2px;
}
.overview-title,
.our-section-heading {
  font-size: 26px;
  font-weight: 500;
  font-family: "Lato";
  line-height: 40px;
}

.overview-short-description,
.our-section-subheading {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.overview-detail,
.our-section-text,
.service-description {
  font-size: 12px;
  font-family: "Inter";
  text-align: justify;
}

.our-distenctive-div {
  padding: 50px 0px !important;
}
.service-title {
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter";
}

.Application-card-heading {
  font-size: 20px;
  font-family: "Inter";
}

.Services-card {
  border: none;
  border-radius: none !important;
  background-color: #151515 !important;
  color: #ffffff !important;
  height: 420px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.full-stack-card{
  height: 340px !important;
  
}

.ui-ux-heading{
  font-size: 14px !important;
}

.card-title {
  font-size: 16px;
  font-family: "Inter";
  margin: 20px 0px;
}

.card-body {
  padding: 10px 20px !important;
}

.card-text {
  font-size: 12px;
  margin-top: 10px;
  font-family: "Inter";
  text-align: justify;
}

.framework {
  padding-top: 10px;
}

.image-card-container,
.image-icon-container,
.image-container {
  width: 100%;
  height: auto;
}

.insight-card-image-container{
  width: 100%;
  height: auto;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.insight-card-img{
  width: 100%;
  height: 150px;
}

.innovation-text-card {
  width: 33%;
  padding: 20px 0px;
}
/* serviecs section styles End--------------------------------------------- */

/* Could Services styles start  */
.could-services-background {
  width: 100%;
  background-color: #000;
  background-image: url("../../public/images/Hero-cloud.png");
  border-image: fill O liner-gradient(#0003, #000);
  background: linear-gradient(to right top, #000 80%, #8784843f 100%, #000 10%);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #ffffff;
}

.could-services-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 80vh;
  padding-bottom: 50px;
  color: #ffffff;
}

.could-services-header {
  margin-bottom: 30px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 30px;
}
.could-services-description {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 600;
}

.dark-container {
  background-color: #000;
  color: #ffffff;
}

.cloud-image,
.image-hero {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  color: #ffffff !important;
}

.cloud-card-image {
  width: 100%;
  height: 380px;
}
.chart-of-detail {
  font-size: 12px;
}

.chart-of-heading {
  font-size: 22px;
  font-family: "Lato";
}
/* Could Services styles End  */

/* capabilities styles - start */

.section-capabilities {
  background-color: #151515;
}

.section-heading-with-button-flex {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.capabilities-heading {
  font-size: 18px;
  font-size: "Lato";
  font-weight: 500;
}

.btn-explore-capabilities {
  background-color: #151515;
  color: #ffffff;
  padding: 6px 15px;
  border: 1px solid #ffffff;
  font-size: 16px;
  font-family: "Inter";
  border-radius: 2px;
}

.capability-card-img {
  color: #ffffff;
}

.could-migration-heading {
  font-family: "Lato";
  font-size: 24px;
  margin-bottom: 20px;
}

.could-migration-description {
  font-family: "Inter";
  font-size: 12px;
}

.explore-btn {
  padding: 5px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: #000;
  width: 100px;
  color: #ffffff;
  font-weight: 500;
}

.cloud-card-image {
  border-radius: 10px;
}

.hero-cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.cloud-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.could-services-content {
  color: white;
}

.services-header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.could-services-description {
  font-size: 1.25rem;
  line-height: 1.5;
}

/* related-Service- styles start */
.related-Service-background {
  background-color: #000000;
  color: #ffffff;
}

.related-Service-heading {
  font-size: 24px !important;
  margin-bottom: 15px;
  font-family: "Lato";
}
.related-Service-sub-heading {
  font-family: "Lato";
  font-size: 30px;
  margin-bottom: 20px;
}

.related-Service-description {
  font-family: "Inter";
  font-size: 12px;
  margin-bottom: 30px;
}

.related-service-image {
  width: 100%;
  height: 300px;
  height: auto !important;
  border-radius: 10px;
}
/* related-Service- styles End */

/* got-project styles Start */
.got-project {
  border: 2px solid #ffffff;
  height: 380px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.got-project-small {
  font-family: "Inter";
  font-weight: 500;
  font-size: 22px;
}

.let-connect-heading {
  font-family: "Lato";
  font-weight: 600;
  font-size: 70px;
}

.write-msg-div {
  font-size: 14px;
  color: #ffffff;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  padding-top: 10px;
  border-radius: 50px;
  font-weight: 500;
  font-family: "Inter";
}

.message {
  margin-left: 15px;
}

.small-colud-img {
  width: 200px;
  height: 150px;
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 6px;
}
/* got-project styles End */

/* cyber cecurity styles start */
.cyber-security-services-heading {
  line-height: 60px;
  font-family: "Inter";
  font-weight: 600;
}
.cyber-security-services-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: #ffffff;
}

.cyber-security-services-description {
  font-size: 22px;
  font-family: "Inter";
  font-weight: 600;
  color: #ffffff;
}

.cyber-security-the-challenge-card {
  width: 350px !important;
  height: auto;
  padding: 0px 30px !important;
  background-color: #151515;
}
.card-margin-right {
  margin-right: 40px;
}

.cyber-security-the-challenge-card-title {
  font-size: 18px;
  font-family: "Inter";
}

.cyber-security-the-challenge-card-description {
  font-size: 14px;
  font-family: "Inter";
  text-align: justify;
}

.what-brewcode-delivers {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bi-arrow-right-short {
  font-size: 40px;
  margin-left: -8px;
  margin-right: 10px;
}

.prevention-title {
  font-size: 20px;
  font-family: "Inter";
  font-weight: bold;
}

.what-brewcode {
  font-size: 30px;
}

.lateral-movement-underline {
  text-decoration-line: underline;
  text-underline-offset: 1px;
}

.card-black {
  width: 340px !important;
  background-color: #151515 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.card-black,
.icon {
  margin-right: 20px;
}

.icon-title {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 600;
  /* padding-top: 10px; */
}

.experienced-breach-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80% !important;
  height: 50vh;
  border-radius: 40px;
  background-image: url("/images/footer-image-cyber.jpeg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.experienced-breach-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.get-assistance {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.get-assistance:hover {
  background-color: #3b4045;
}
/* cyber cecurity styles End */

/* contact us styles start */
.contact-us-bg-section {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #ffffff;
}
.contact-form input,
.contact-form textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #a2834b;
  color: #fff;
  border-radius: none !important;
}

.checkbox {
  border-radius: none !important;
  height: 20px;
  width: 20px;
  position: relative;
  margin-top: -0px;
}

.privacy-policy {
  color: #ffffff;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid #007bff;
}

.contact-form label {
  color: #fff;
}

.contact-form .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.contact-form .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.contact-us-bg {
  background-color: #000;
  padding: 200px 0px 0px 0px;
}

.contact-us-heading {
  font-size: 70px;
  font-family: "Inter";
  margin-bottom: 100px;
}


.form-control {
  background-color: transparent;
  color: #fff;
  border-radius: 0;
  border-bottom: 1px solid #a2834b !important;
}

.form-control::placeholder {
  color: #ccc;
}

.form-check-label {
  color: #fff;
}

.text-area {
  border: 1px solid #a2834b !important;
  margin-top: 19px;
  height: 196px;
}

.hyderabad-line {
  border: 0.3px solid #a2834b !important;
}

.FaArrowRight {
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000 !important;
  cursor: pointer;
  margin: auto 0;
}

.arrow-parent {
  padding-bottom: 15px;
}

.terms-and-conditions-text {
  cursor: pointer;
}
.contact-address {
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  line-height: 20px;
}
.mgs-label {
  margin-top: -40px;
}
.submit-btn {
  background-color: #ffffff;
  color: #000;
  font-family: "Inter";
  padding: 8px 10px;
  border-radius: 5px;
  width: 90px;
  font-size: 12px;
  font-weight: bold;
}

.btn-light {
  background-color: #fff;
  color: #000;
}

.office-info {
  padding: 100px 0px;
}

.office-info h5,
.office-info p {
  color: #fff;
}

/* .text-warning {
  color: #ffc107 !important;
} */

.form-label {
  padding: 0px;
  margin: 0px;
}

/* case studies styles ----------------------------------------------*/

.case-study-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.case-studes-hero-img {
  position: relative;
}

.overlay-case-studies {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-case-studies {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.case-studies-hero-section {
  width: 100%;
  height: 100vh;
  background-image: url("/images/case-studies-hero-section-img.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.case-study-description {
  text-align: center;
  font-size: 20px;
}

.case-studies-black-container {
  padding: 50px 0px;
  background-color: #000;
}

.health-care-img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin-left: 6px;
  cursor: pointer;
}
.min-read-main {
  color: #099217;
  font-size: 1;
}
.doat {
  margin-left: 20px;
}

.min-2-read {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter";
  font-size: 16px;
  margin: 10px 60px 0px 20px;
  color: #04caa8 !important;
  font-weight: 600;
}

.soctor-heading {
  color: #ffffff;
  font-family: "Inter";
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}

.soctor-description {
  color: #ffffff;
  font-size: 12px;
  font-family: "Inter";
  line-height: 18px;
  margin-bottom: 80px;
}

.health-care-button {
  width: 120px;
  height: 28px;
  border-radius: 20px;
  text-align: center;
  border: 1.5px solid #ffffff;
  font-family: "Inter";
  color: #ffffff;
  background-color: #000;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
}

.view-detais-sotry-button {
  width: 190px;
  height: 36px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ffffff;
  font-family: "Inter";
  color: #000000;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

/* Ar VR styles----------------- */
.ar-vr-hero-section {
  width: 100%;
  height: 100vh;
  background-image: url("/images/ar-vr-hero-section-bg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay-ar-vr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ar-vr-heading {
  letter-spacing: 4px;
  word-spacing: 5px;
  font-size: 40px;
  font-family: "Lato";
  font-weight: 600;
}

.ar-vr-card-heading {
  font-family: "Lato";
  color: #ffffff;
  font-size: 20px;
}

.ar-vr-description {
  font-size: 26px;
  font-family: "Inter";
  font-weight: 400;
}
.black-layer {
  background-color: #000;
  z-index: 999;
  position: absolute;
  top: 600;
  bottom: 0;
  width: 100%;
  padding: 2px;
}

.ar-vr-description-brewcode {
  color: #ffffff;
  font-family: "Inter";
  font-size: 16px;
  margin-top: 10px;
}
/* Ar VR styles----------------- End-------------*/
/* case study logo styles--------start */
.small-logo {
  width: 40px;
  height: 40px;
  margin-bottom: 50px !important;
}

.medium-logo {
  width: 100px;
  height: 100px;
}

.large-logo {
  width: 300px;
  height: auto;
  margin-bottom: 50px !important;
}

.top-left-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
}

.ar-vr-image {
  width: 100%;
  border-radius: 5px;
  height: 100%px;
  cursor: pointer;
}

.ar-vr-left-flex {
  height: 300px;
}

.arVr-flex-row {
  display: flex;
  justify-content: space-between;
}

/* case study logo styles--------End */

/* get in touch image styles */
.get-in-touch-hero-image {
  width: 100%;
  height: 80vh;
  background-image: url("/images/get-in-touch-hero-image.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.get-in-touch-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 100px 200px;
}

.get-in-touch-main {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.connect-with-us-button {
  width: 180px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.get-in-touch-heading {
  font-size: 40px;
  font-family: "Inter";
  font-weight: bold;
}

.get-in-touch-description {
  font-family: "Inter";
  font-size: 14px;
}

.bg-section-balck {
  background-color: #000;
  padding: 30px;
  color: #ffffff;
}

.harnessing-heading {
  font-family: "Lato";
}

.harnessing-description {
  font-family: "Inter";
  font-size: 12px;
  padding: 0px 200px;
}

.unity-and-unreal-engine-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.unity-and-unreal-engine-card {
  background-color: #000000;
  padding: 10px 30px;
  margin-bottom: 20px;
}

.unity-and-unreal-engine-images {
  background-color: #151515;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.unity-and-unreal-engine-img1,
.unity-and-unreal-engine-img2 {
  width: 50px;
  height: 50px;
}

.unity-and-unreal-engine-heading {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.unity-and-unreal-engine-description {
  font-family: "Inter";
  font-size: 14px;
  text-align: center;
}

.our-process-heading {
  font-family: "Lato";
  font-size: 24px;
}

.our-process-sub-heading {
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
}

/* styles/Timeline.css --------------------*/
.time-line-containe {
  margin: 100px 0px !important;
}
.timeline-circle {
  width: 30px;
  height: 30px;
  background-color: #000000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid #ffffff;
}

.timeline-connector {
  height: 100%;
  width: 2px;
  background-color: #ffffff;
  margin: 0px auto;
}

.timeline-title {
  color: #04caa8;
  font-family: "Inter";
  font-size: 1.25rem;
}

.timeline-description {
  color: #fff;
  font-size: 1rem;
  font-family: "Inter";
}

.projects-we-like-card {
  border: 1px solid #ffffff;
  padding: 20px 15px;
  border-radius: 3px;
  text-align: center;
}

.projects-we-like-card-img {
  width: 100%;
  border: 1px solid #ffffff;
}

.projects-we-like-card-heading {
  font-size: 18px;
  font-family: "Lato";
  width: 100%;
}

.projects-we-like-card-description {
  color: #04caa8;
  font-size: 14px;
  font-family: "Inter";
}

.projects-we-like-description {
  font-family: "Inter";
  font-family: 14px;
}

.virtual-reality-heading {
  font-size: 22px;
  font-family: "Inter";
}

/* loader styles  */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  z-index: 1000;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.url-link {
  text-decoration: none;
  border-bottom: 1px solid #fff;
  color: #ffffff;
  font-weight: bold;
  font-family: "Inter";
}

/* E-commerce style start----------------------------------------------------------------------------- */
.e-commerce-hero-section {
  width: 100%;
  height: 100vh;
  background-image: url("/images/img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.e-commerce-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.e-commerce-short-heading,
.e-commerce-heading {
  font-family: "Inter";
  font-weight: bold;
  color: #ffffff;
  font-size: 30px;
}
.e-commerce-heading {
  font-size: 60px;
}
.e-commerce-conatianer {
  min-height: 300px !important;
}

.our-e-commerce-services {
  color: #ffffff;
  font-size: 20px;
  font-family: "Inter";
  background-color: #151515;
  padding: 10px 0px;
  margin-bottom: 0px;
  text-align: center;
  border-radius: 4px;
}

.e-commerce-accordion {
  color: #ffffff;
  cursor: pointer;
}

.img-container {
  width: 100%;
  height: auto;
}

.e-commerce-img {
  width: 100%;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon-border {
  border: 1px solid #ffffff;
}

.accordion-divider {
  margin: 0px;
  color: #ffffff;
}

.e-commerce-content{
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  overflow: hidden;
  max-height: 1000px;
  opacity: 1;
 padding: 30px 0px;
}
.e-commerce-content.collapsed {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
}

.accordion-title {
  font-size: 18px;
  font-family: "Inter";
}

.advanced-technologies-heading {
  font-size: 24px;
  font-family: "Lato";
  color: #ffffff;
}

.e-commerce-description {
  font-size: 14px;
  font-family: "Inter";
  color: #ffffff;
}

.ar-vr-short-heading {
  background-color: #ffffff;
  text-align: center;
  width: 80%;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  list-style: none;
  padding: 0;
}

.details-container {
  padding-left: 30px;
}
.detail-item {
  font-size: 12px;
  font-family: "Inter";
}

.detail-description {
  font-family: "Inter";
  margin: 10px 0px;
  font-size: 14px;
}

.detail-heading {
  font-size: 24px;
  font-family: "Lato";
  color: #ffffff;
  margin-top: -5px;
}

.right-arrow {
  position: relative;
  background: #ffffff;

  padding: 5px 0px 5px 20px;
  margin-bottom: 10px;
}
.right-arrow:after {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
}
.details-black {
  background-color: #151515;
}

.contact-bg {
  background-image: url("/images/background-img-contact.jpg");
  height: 100px;
  width: 100%;
  padding: 32px 0px !important;
}

.connect-with-brewcode {
  font-family: "Inter";
  font-size: 30px;
  font-weight: 700;
  padding: 4px;
  letter-spacing: 2px;
}

.bg-block {
  background-color: #000;
}

/* .socoter-img-container{
  width: 100%;
  height: auto;
} */
.socoter-img {
  background-color: #373737;
  padding: 20px 25px 20px 15px;
  border-radius: 10px;
}

.health-care-img {
  width: 100%;
}

.healthcare {
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  font-family: "Inter";
}

.healthcare::before {
  content: "Healthcare";
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.percentage {
  font-size: 1.5rem; 
  color: #fff; 
  position: relative;
  font-family: "Inter";
  /* margin: 40px 0px; */
}
.percentage-container{
  margin-left: 80px;

}



.percentage::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0;
  bottom: -7px;
  height: 5px;
  transform: rotate(166deg);
  transform: rotate(170deg);
  width: 48px;
  border-bottom: 2px solid #00aaff;
}
.line{
  background-color: red;
  width: 47px;
  margin: 0px;
  border-bottom: 2px solid #00aaff;
  margin-top: 3px;
}





.user-adoption {
  font-size: 1.5rem;
  font-family: "Inter";
  color: #ffffff;
  margin: 40px 0px;
 
}


.user-adoption span {
  text-decoration: none;
}



.socoter-img-container {
  display: flex;
  justify-content: flex-end;
}

.soctor-logo {
  display: flex;
  justify-content: center;
  text-align: center !important;
  max-width: 100%;
  height: auto;
}

.healthcare-text-container {
  display: flex;
  flex-direction: column;

 
}

.soctor-about-section {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 40px 0px;
}

.section-about-introduction {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  color: #04caa8;
  margin-right: 20px;
  margin-top: -100px;
  font-weight: 500;
  font-family: "Lato";
 
}
.about-introduction {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  font-family: "Lato";
  color: #04caa8;
  margin-right: 20px;
  margin-top: -15px;
  font-weight: 500;
}

.target-audience-about-introduction {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  color: #04caa8;
  margin-right: 20px;
}
.about-content {
  text-align: left;
}

.section-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.icon {
  font-size: 1.25rem;
  color: #1e90ff;
}

.gap {
  font-weight: bold;
}
.target-audience-list {
  list-style: none;
  padding-left: 0;
}

.audience-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.target-audience-item {
  margin-bottom: 2rem;
  display: flex;
  color: #ffffff;
  font-size: 12px;
  font-family: "Inter";
}

.audience-list-heading {
  color: #ffffff;
  font-family: "Lato";
  font-size: 22px;
  font-weight: 500;
}

.target-audience-item strong {
  font-size: 1.25rem;
}
.target-audience-item p {
  margin-bottom: 0.5rem;
}
.target-audience-item .icon {
  display: inline-block;
  width: 2rem;
  margin-right: 0.5rem;
  text-align: center;
}

.about-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: "Lato";
}

.about-content p {
  font-size: 0.8rem;
  line-height: 1.8;
}

.section-title {
  font-size: 20px;
  font-family: "Inter";
  font-weight: 600;
}

.section-description {
  font-size: 14px;
  font-family: "Inter";
  text-align: justify;
}

.discover-bg {
  background-color: #151515;
}

.step-number {
  display: inline-block;
  width: 30px;
  height: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
  border: 1.5px solid #fff;
  border-radius: 50%;
  margin-right: 20px;
 
}

.gap-that-container {
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gap-description {
  font-style: "Inter"; 
  font-size: 14px;
}



.process-image-container {
  width: 100%;
  height: auto;
}

.process-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.process-image-design {
  width: 100%;
  height: 800px;
}

.final-ui-screens {
  font-family: "Lato";
  color: #ffffff;
  font-size: 24px;
}
/* E-commerce style End--------------------------------------------------------------------------------- */

.stroke-text {
  h2 {
    color: transparent;
    -webkit-text-stroke: 1px #555;
    font-size: 100px;
    z-index: -20;
    
  }
}


.reflect {
  position: relative;
  display: inline-block;
  font-size: 50px;
}

.reflect::after {
  content: "Healthcare";
  position: absolute;
  top: 37%;
  left: 14%;
  z-index: 100;
  color: transparent;
  text-shadow: 0 0 1px white;
  font-weight: bold;
  font-family: "Inter";
  font-size: 64px;
}




.malaya-education {
  position: relative;
  display: inline-block;
  font-size: 50px;
}

.malaya-education::after {
  content: "Education";
  position: absolute;
  top: 37%;
  left: 14%;
  z-index: 100;
  color: transparent;
  text-shadow: 0 0 1px white;
  font-weight: bold;
  font-family: "Inter";
  font-size: 64px;
}

.education-description{
  color: #ffffff;
  font-family: "Lato";
  position: relative;
 
  
  
}

.iformation-description{
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  font-style: "Inter";
  margin: 40px 0px;
  
}

.information-technology-stoke-text {
  h2 {
    color: transparent;
    -webkit-text-stroke: 1px #555;
    font-size: 100px;
    z-index: -20;
    font-weight: 600;
    /* text-align: center; */
  }
}


.information-technology {
  position: relative;
  display: inline-block;
  font-size: 50px;
}

.information-technology::after {
  content: "Information Technology";
  position: absolute;
  top: 9%;
  left: -2%;
  z-index: 27;
  color: transparent;
  text-shadow: 0 0 1px white;
  font-weight: 600;
  font-family: "Inter";
  font-size: 96px;
  text-align: center;
  line-height: 128px;
}

.list-page-description{
  font-size: 12px;
  font-family: "Inter";
  color: #fff;
}

































.stepperContainer {
  color: white;
}

.step {
  position: relative;
text-align: center;
  padding: 20px 0px;

  
}

.stepHeader {

  font-family: "Inter";
  display: flex;
}

.stepNumber {
  font-size: 16px;
  font-family: "Inter";
  margin-right: 5px;
  font-weight: bold;
}

.stepTitle {
  font-size: 16px;
  font-weight: bold;
}

.stepProgress {
  position: relative;
  width: 289px;

}

.circle {
  width: 20px;
  height: 20px;
  background-color: white;
  color: black;
  border-radius: 50%;
  display: flex;
  position: relative;
}

.line-steper {
  position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    height: 2px;
    background-color: white;
    z-index: 0;
}

.stepDescription {
  font-size: 0.9em;
  margin-top: 5px;
}

.last-circle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}




/* full stack bg-image */
.our-suite-of-full-stack-bg{
  background-image: url("/images/our-suite-of-full-stack-bg.jpg");
  height: auto;
  width: 100%;
  padding: 32px 0px !important;
}

.full-stack-section-heading{
  font-family: "Inter";
  font-weight: bold;
}

.full-stack-ul{
  display: flex;
  margin: 60px 0px 30px 0px;
}

.full-stack-list-item{
  font-family: "Inter";
  padding: 10px 0px;
  font-size: 14px;
}


/* about us styles----------------- */

.about-us-description{
  font-family: "Inter";
  font-size: 14px;
}

.about-us-heading{
  font-size: 70px;
  font-weight: 700;
  margin: 100px 0px;
  font-family: "Inter";
}

.about-us-card-heading{
  font-size: 18px;
}

.our-history{
  margin: 150px 0px;
  display: flex !important;
  justify-content: space-between !important;
}

.about-us-icon{
  display: flex;
  justify-content: flex-start !important;
  align-self: flex-start !important;

}



.image-icon-container{
  width: 100%;
  height: auto;
  text-align: center;
}

.problem-statemt-icon{
  width: 50px;
  margin-right: 15px;
}
.business-goal-icon{
  width: 50px;
  margin-right: 15px;
}

.email-text{
  text-decoration: none;
}

.list-page-arrow-icon{
  height: 12px;
  margin-right: 5px;
}

.image-icon{
  width: 50px;
  height: 50px;
}

.our-history-heading{
  font-family: "Inter";
  font-weight: bold;
  font-size: 66px;
  text-align: center;
  margin-bottom: 60px !important;
}

.about-us-description{
  font-family: "Inter";
  font-size: 16px;

}

.about-us-card-container{
  margin: 150px 0px;
}

.about-us-card-body{
  background-color:#D9D9D9 ;
}